{% extends 'base.html' %}

{% block title %}
    Create product
{% endblock %}

{% block body %}
    <div>
        <div class="h3">Create a new product</div>

        <form method="post">
            {{ form.name.label(class="form-label") }}
            {{ form.name(size=20, class="form-control") }}
            {{ form.desc.label(class="form-label") }}
            {{ form.desc(size=20, class="form-control") }}
            {% if form.name.errors %}
                <ul class="errors">
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <button class="btn btn-outline-primary"
                    type="submit">
                Create
            </button>
        </form>
    </div>

{% endblock %}